h1 {
    text-align: center;
    font-weight: bold;
}

.justify-content-center {
    text-align: center;
}

.hidden {
    display: none;
}

.dateTitle {
    font-size: 22px;
    font-weight: bold;
}

.foreText {
    font-size: 14px;
}